<!DOCTYPE html>
<html lang="en">
<%- include( "./header.ejs" ) %>
<body>
    <div class="menu">
        <ul>
            <a href="/"><li class="menu_not_active">HOME</li></a>
            <a href="/news"><li class="menu_not_active">NEWS</li></a>
            <a href="/bands"><li class="menu_not_active">BANDS</li></a>
            <a href="/about"><li class="menu_not_active">ABOUT US</li></a>
            <% if( login_pers != "" ) { %>
                <a href="/personal_area"><li class="menu_not_active"><%= login_pers %>( Личный кабинет )</li></a>
            <% }
            else {%>
                <a href="/signin"><li class="menu_not_active">SIGN IN</li></a>
            <% } %>

            <input type="text" placeholder="search artist or song ...">
        </ul>
    </div>

    <div class="error_404">
        <h1>404</h1>
        <h2>Page not found</h2>
    </div>
    <%- include( "./footer.ejs" ) %>
</body>
</html>